body{
    margin: 0;
    padding:0;
    background-image: url(images/background-home-desktop.jpg);
    /* background-size: cover; */
    background-size: cover;
    background-position: center;
    box-sizing: border-box; 
    align-items: justify;
    box-sizing: border-box;
    
}

@media (max-width: 40rem) {
     #home-space{
        background-image: url(images/background-home-mobile.jpg);
    } 
    
}

@media (max-width: 48rem) {
    #home-space{
        background-image: url(images/background-home-tablet.jpg);
        
}

}

/* a:visited{
    background-color: white;
} */

hr{
   /* border: dotted #EAF6F6;*/
    border-bottom: none;
    width: 20%;
    margin: 100px auto;
    left: 30px;
    color: #fff;

}

.nav-item{
    position: relative; 
    background-color: slategray;
    color: #ffff;
}

#middle{
    position: relative;
    display: block;
    top: 0px;
    left: 100px;
}

.feature{
    position: relative;
    display: block;
    margin: auto;
    color: #ffff;
    /* left: 15%; */
    padding-left: 200px;
    top: 82px;
}

h1{
    position:relative ;
    display: block;   
}

.space{
    font-size: 90px;
}

.feature-description{
    width: 450px;
    line-height: 2;
    position: absolute;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: none;
    background-color: #fff;
    margin-left: 65%;
    
}

/* destination  */
#destination-bgimage{
    background-image: url(destination/background-destination-desktop.jpg);   
    color: #ffff ;
}

  @media (max-width: 40rem){
    #destination-bgimage{
        background-image: url(destination/background-destination-mobile.jpg);
    }
    
}

@media (max-width: 48rem){
    #destination-bgimage{
        background-image: url(destination/background-destination-tablet.jpg);
    } 
} 

.uppercase{
    text-transform: uppercase;
}

.destination-title{
    padding-left: 200px;
}

.destination-image{
    position: absolute;
    float: left;
    padding: 50px 200px;
       
}

.destination-feature{
    float: right;
    position: relative;
    right: 100px;
    margin-top: 5%;
}

.destination-link{
    text-decoration: none;
    list-style: none;
}

li .destination-link:hover{
    list-style: none;
    color: #fff;
}

.destination-description{
     /* position: relative;  */
    width: 450px;
    line-height: 2;
}

/* ............................CREW................................... */

/* On desktop */
    #crew-bgimage{
        background-image: url(crew/background-crew-desktop.jpg);
    }

/* On mobile */
@media (max-width: 40rem){
    #crew-bgimage{
        background-image: url(crew/background-crew-mobile.jpg);
    }
}
/* on tablets */
@media (max-width: 48rem){
    #crew-bgimage{
        background-image: url(crew/background-crew-tablet.jpg) ; 
    }
}

.crew-features-container{
    color: #ffff;
    left: 20; 
}

.crew-description{
    width: 450px;
    padding-top: 30px;
}

.crew-nav{
    margin-top: 10%;
    position: absolute;
}

.crew-link{
    /* position: absolute; */
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    border: none;
    position: relative;
    margin: 10px;
} 

.crew-image{
    float: right;
}

/* Technology */

#technology{
    background-image: url(technology/background-technology-desktop.jpg);
    
}

@media (max-width: 40rem){
    #technology{
        background-image: url(technology/background-technology-mobile.jpg);
        
    }
}

@media (max-width: 48rem){
    #technology{
        background-image: url(technology/background-technology-tablet.jpg);
    
    }   
}

.technology-features{
    color: #ffff;
    padding-left: 20px;
    /* position: relative; */
}

.technology-title{
    line-height: 5;
    margin-bottom: 80%;
}

.technology-titleNav {
    /* display: inline; */
    padding-left: 100px;
    position: absolute;

}

.technology-link{
    position: absolute;
    
}

.technology-description{
    margin: 15% auto auto 20%;
    position: absolute;
}

.technology-intro{
    font-size: 30px;
    /* line-height: 2; */
}


.technology-about{
    width: 450px;
    position: absolute;
}

.tech{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: solid;
    margin: 10px;
    background-color: transparent;
    border-color: #fff;

}

.technology-image{
    float: right;
    margin-right: 40px;
    margin: 5rem 0 3rem ; 
    /* left: 30px; */
}

/* .tech-img{
    right: 40px;
} */

.selected{
    background-color: #fff;
}
