
#home-space{
    margin: 0;
    background-image: url(images/background-home-desktop.jpg);
    /* background-size: cover; */
    background-size: auto;
    background-position: center;
    box-sizing: border-box; 
}

@media (max-width: 40rem) {
     #home-space{
        background-image: url(images/background-home-mobile.jpg);
    } 
    
}

@media (max-width: 48rem) {
    #home-space{
        background-image: url(images/background-home-tablet.jpg);
        
}

}


a:visited{
    color: white;
}

hr{
   /* border: dotted #EAF6F6;*/
    border-bottom: none;
    width: 20%;
    margin: 100px auto;
    left: 30px;

}

.nav-item{
    position: relative; 
    background-color: slategray;
    color: #ffff;
}



#middle{
    position: relative;
    display: block;
    top: 0px;
    left: 100px;
}

.feature{
    position: relative;
    display: block;
    margin: auto;
    color: #ffff;
    /* left: 15%; */
    padding-left: 200px;
    top: 82px;
}

h1{
    position:relative ;
    display: block;   
}

.space{
    font-size: 90px;
}

.feature-description{
    width: 450px;
    line-height: 2;
    position: absolute;
}

.explore-circle{
     height: 200px;
     width: 200px;
     background-color: #ffff;
     /* background-color: #bbb; */
     border-radius: 50%;
     /* display: inline-block; */
     text-align: center;
     font-size: 20px;
     margin-left: 65%;
}

/* .circle-content{
    font-size: 30px;
    text-align: center; 
} */

/* destination  */
#destination-bgimage{
    background-image: url(destination/background-destination-desktop.jpg);   
    color: #ffff ;
}

  @media (max-width: 40rem){
    #destination-bgimage{
        background-image: url(destination/background-destination-mobile.jpg);
    }
    
}

@media (max-width: 48rem){
    #destination-bgimage{
        background-image: url(destination/background-destination-tablet.jpg);
    } 
} 

.uppercase{
    text-transform: uppercase;
}

.destination-title{
    padding-left: 200px;
}

.destination-image{
    position: relative;
    float: left;
    padding: 50px 200px;
    
    
}

.destination-feature{
    float: right;
    position: relative;
    right: 100px;
    margin-top: 5%;
}

.destination-link{
    text-decoration: none;

}

.destination-description{
     /* position: relative;  */
    width: 450px;
    line-height: 2;
}


/* ............................CREW................................... */

/* crew-enginner */

/* On desktop */
    #crew-bgimage{
        background-image: url(crew/background-crew-desktop.jpg);
    }

/* On mobile */
@media (max-width: 40rem){
    #crew-bgimage{
        background-image: url(crew/background-crew-mobile.jpg);
    }
}
/* on tablets */
@media (max-width: 48rem){
    #crew-bgimage{
        background-image: url(crew/background-crew-tablet.jpg) ; 
    }
}

.crew-features-container{
    color: #ffff;
    
}


.crew-description{
    width: 450px;
    padding-top: 30px;
}

 .crew-link{
    position: absolute;
} 

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* margin: 1px; */
    background-color: #fff;
    /* position: absolute;   */
    
}

.crew-image{
    float: right;
    padding-right: 200px;
    position: relative;
}



/* Technology */

/* technology-vehicle */
#technology{
    background-image: url(technology/background-technology-desktop.jpg);
    
}


@media (max-width: 40rem){
    #technology{
        background-image: url(technology/background-technology-mobile.jpg);
        
    }
}

@media (max-width: 48rem){
    #technology{
        background-image: url(technology/background-technology-tablet.jpg);
    
    }   
}

.technology-features{
    color: #ffff;
}

.technology-title{
    line-height: 5;
}

/* .technology-description{
    display: ;
} */

.technology-about{
    width: 450px;
    position: absolute;
}

.technology-image{
    float: right;
    padding: 0  100px 80px 0;  
    bottom: 30px;
}

.technology-intro{
    font-size: 30px;
    /* line-height: 2; */
}

/* technology-capsule */
